@page "/adminStuff"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Claims
@using clientApp1.Shared
@attribute [Authorize(Policy = "CompanyAdminRole")]
@inject HttpClient Http
@inject AuthenticationStateProvider AuthenticationStateProvider

<h1>User Management</h1>

<p>This page checks if you are logged in and then displays the users you can see. This is role specific.
</p>


@if (users == null)
{
    <p><em>Loading...</em></p>
}
else
{

    <h2>Users I Can See</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Company</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var u in users)
            {
                <tr>
                    <td>@u.displayName</td>
                    <td>@u.companyId</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<User> users;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            users = await Http.GetFromJsonAsync<User[]>("admin/users");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
